/* Font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "openSans";
  src: url("@fonts/OpenSans-VariableFont_wdth,wght.ttf") format("ttf");
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-openSans: "Open Sans", "sans-serif";

  --breakpoint-small: 22rem;

  --color-navy: oklch(0.2791 0.0734 257.84);
  --color-lightBlue: oklch(0.9472 0.0473 209.57);
  --color-blue: oklch(0.8098 0.146596 180.3394);
  --color-navy-light: oklch(0.4978 0.0578 246.52 / 10.2%);
  --color-navy-dark: oklch(0.3012 0.0709 257.21);
  --color-navy-light-2: oklch(0.3005 0.0839 257.57);
  --color-blue2: oklch(0.8098 0.146596 180.3394);
  --color-navy-lighten: oklch(0.3936 0.1093 264.74);
}

@layer base {
  body {
    @apply font-openSans;
  }
  ::-webkit-scrollbar {
    @apply hidden;
  }
}

@layer components {
  .landing-details-box {
    @apply text-lightBlue bg-navy-dark w-1/3 space-y-2 py-4 text-center;
  }

  .landing-skelton-effect {
    @apply to-navy-light-2 animate-pulse rounded-md bg-gradient-to-r from-[#143158];
  }
}

/* hex colors;
1_0f284c
2_caf7ff 
3_01dfc5
4_4766821A
5_152E51 
0f2D57 
#00DFC5;
#284280;
*/
